.list {
    max-width: 280px;
}

.list__title {
    margin-bottom: 20px;
}

.list__items {
    display: flex;
    flex-flow: row wrap;
}

.list__item {
    margin-right: 16px;
    margin-bottom: 20px;
}

.list_columned .list__items {
    display: flex;
    flex-direction: column;
}