.main-carousel {
  display: block;
  width: 100%;
  position: relative;
}

.carousel-cell {
  opacity: 0.1;
}

.is-selected {
  opacity: 1;
}

.carousel-cell {
  opacity: 0.1;
  margin: 0 47px;
}

.is-selected {
  opacity: 1;
}
.flickity-button {
  background: none;
  border: 2px solid #adb0b8;
  border-radius: 5px;
  width: 26px;
  height: 26px;
}

.flickity-button-icon {
  transform: scale(0.9);
  fill: #adb0b8;
}

.next {
  transform: translateX(calc(-50vw + 631px));
}

.previous {
  transform: translateX(calc(50vw - 631px));
}