.section {
    padding: 88px 0 80px 0;
}

.section:nth-child(2n+1) {
    background-color: #F4F6F7;
}

.section__content {
    width: 1042px;
    margin: 0 auto;
}

.section__title {
    text-align: center;
}

.section__subtitle {
    text-align: center;
}

.section__title-container {
    text-align: center;
}

.section__subtitle {
    margin-top: 5px;
}

.section__button {
    margin: 0 auto;
}

.section__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.section__content_full-width {
    width: 100%;
}

.section__element_margin-bottom_s {
    margin-bottom: 36px;
}

.section__element_margin-bottom_m {
    margin-bottom: 61px;
}

.section__element_margin-bottom_l {
    margin-bottom: 100px;
}

.section__element_margin-top_s {
    margin-top: 31px;
}

.section__element_margin-top_m {
    margin-top: 60px;
}