* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* color: #3E3E3E; */
    margin: 0 auto;
    scroll-behavior: smooth;
}

a {
    color: #3E3E3E;
    text-decoration: none;
}
