.calendar {
    width: 320px;
}

.calendar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
}

.calendar__days {
    display: flex;
    flex-wrap: wrap;
    height: 245px;
}

.calendar__head {
    font-weight: 700;
    user-select: none;
    cursor: default;
}

.calendar__head_font_dark {
    color: #18181A;
}

.calendar__cell {
    width: 32px;
    height: 32px;
    margin: 3px 16px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    user-select: none;
    color: #5A5C61;
    font-weight: 700;
    font-size: 16px;
}

.calendar__current-date {
    display: flex;
    user-select: none;
}

.calendar__current-month {
    margin-left: 5px;
}

.calendar__cell:nth-child(7n) {
    margin-right: 0;
}

.calendar__cell_disabled {
    color: #ADB0B8;
    font-weight: 500;
}

.calendar__cell_avalible {
    color: #117DC1;
    background-color: #E5F2F9;
    cursor: pointer;
}

.calendar__cell_active {
    position: relative;
    color: white;
    background-color: #1386C8;
}

.calendar__cell_active::after {
    content: '.';
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-40%);
    color: white;
    font-size: 25px;
}

.calendar__button {
    cursor: pointer;
}
