.form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.form__group {
    margin-bottom: 32px;
}

.form__label {
    width: 100%;
    font-size: 14px;
    color: #5A5C61;
}

.form__input {
    width: 100%;
    padding: 19px 24px 18px 24px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    border: 1px solid #C4C8D0;
    border-radius: 5px;
    background-color: white;
}

.form__input:last-child {
    margin-bottom: 0;
}

.form__button {
    width: 100%;
}