.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(90, 92, 97, 0.5);
    display: none;
    z-index: 10;
    transition: display 0.35s ease;
}

.modal_opened {
    display: flex;
}
